<h1>Hacker News</h1>
<%= link_to 'Submit', new_post_path %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to '▲', votes_path(:vote => {:post_id => post.id, :up => true}), :method => :post %> |
      <%= link_to '▼', votes_path(:vote => {:post_id => post.id, :up => false}), :method => :post %> |
      Votes: <%= post.votes.where(:up => true).count - post.votes.where(:up => false).count %> | 
       <%= link_to post.url, "http://#{post.url}" %> | <%= post.title %> | <%=link_to post.user.name, user_path(post.user_id) %> | <%= post.created_at.to_formatted_s(:long_ordinal)  %> 
      <%= link_to "comments", post %>
    </li>
  <% end %>
</ul>
<%= will_paginate @posts, previous_label: h("<<"), next_label: h(">>") %>
